# CubeIDE ve Eclipse Derleme Çıktıları
Debug/
Release/
build/
bin/
*.elf
*.bin
*.hex
*.map
*.o
*.su

# Eclipse Ayar Dosyaları (Tercihe bağlı, ben genelde local ayarları yüklemem)
.settings/
.metadata/

# CubeMX Yedekleri
*.mxproject